.imgbox {
  border: 1px solid #585858;
  margin-bottom: 2em;
}
.imgbox img {
  display: inline-block;
  vertical-align: center;
  float: left;
  margin: 5px 5px;
}
.imgbox::after {
    width: 100%;
    height: 0;
    display: inline-block;
    content: "";
}